<div class="container">
  <h3>Contact</h3>
  <form autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        class="form-control"
        ngModel
        [(ngModel)]="login.email"
        name="email"
        #email="ngModel"
        required
        minlength="5"
        maxlength="20"
        pattern="CompanyABC"
      />
      <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
        <div *ngIf="email?.errors?.['required']">required</div>
        <div *ngIf="email?.errors?.['minlength']">minmum 5 carachters</div>
        <div *ngIf="email?.errors?.['maxlength']">minmum 20 carachters</div>
        <div *ngIf="email?.errors?.['pattern']">pattern</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        class="form-control"
        ngModel
        [(ngModel)]="login.password"
        name="password"
        #password="ngModel"
        required
        minlength="5"
        maxlength="20"
      />
      <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
        <div *ngIf="password?.errors?.['required']">required</div>
        <div *ngIf="password?.errors?.['minlength']">minmum 5 carachters</div>
        <div *ngIf="password?.errors?.['maxlength']">minmum 20 carachters</div>
      </div>
    </div>
    <div class="form-group">
      <label for="confirmePassword">Password</label>
      <input
        type="password"
        id="confirmePassword"
        class="form-control"
        #ConfirmePassword="ngModel"
        
        [(ngModel)]="confirmPass"
        name="confirmePassword"
        required
        pattern="{{login.password}}"
      />
      <div class="alert alert-danger" *ngIf="ConfirmePassword.touched && !ConfirmePassword.valid">
        <div *ngIf="ConfirmePassword?.errors?.['required']">Confirme Password</div>
      </div>
    </div>
    <button class="btn btn-danger" type="submit">Submit</button>
  </form>
</div>
